/*Core styles modifications*/
.brand-logo {
    font-size: initial !important;
}

.dropdown-content > li > a {
    color: #2979ff; /*blue accent-4*/
    font-weight: 500;
}

.card-panel .card-panel-header {
    border-bottom: 2px solid #0577ad;
}
.card-panel .card-panel-title {
    font-size: 24px;
    font-weight: 300;
}
.card-panel .card-panel-content {
    padding: 20px;
}

.collection .collection-item.avatar .circle {
     overflow: visible;
}

.parallax-container.medium {
      height: 350px;
}
.parallax-container.small {
      height: 200px;
}

.align-icon-text {
    vertical-align: text-bottom;
}

.devicon {
    font-size: 35px;
}

.contact-link {
    width: 45px;
    height: 45px;
    margin: 0 auto;
    line-height: 45px;
    font-size: 25px;
    cursor: pointer;
    background-color: #616161; /*grey darken-2*/
    color: #ffffff;
    display: inline-block;
    text-align: center;
    -webkit-transition: background-color 0.5s;
    transition: background-color 0.5s;
}

.hidden-link {
    color: inherit;
}



/*Sections custom styles*/
#langDropdown i {
    margin-right: 7px;
}
#langSelected {
    text-transform: uppercase;
}
#langOptions.dropdown-content li {
    border-bottom: 1px solid #9e9e9e; /*grey*/
}

#about-me .avatar-container {
    margin-top: -125px;
    margin-bottom: -60px;
}
#about-me .avatar-image {
    border-radius: 50%;
    border: 5px solid white;
    width: 200px;
}
#about-me .card-panel {
    margin-top: -41px;
    padding-top: 60px;
}
#about-me .intro-txt {
    font-size: 1.1em;
}
#about-me .contact-link {
    background-color: #9e9e9e; /*grey*/
}
#about-me .lin-btn:hover {
    background-color: #0077b5;
}
#about-me .github-btn:hover {
    background-color: #24292e;
}
#about-me .email-btn:hover {
    background-color: #dd5347;
}


#skills .collection-item {
    -webkit-transition: background-color 0.5s;
    transition: background-color 0.5s;
    background-color: transparent;
}
#skills .collection-item:hover {
    background-color: #eeeeee; /*grey lighten-3*/
}
#skills .star-icon {
    color: #ffab00; /*amber accent-4*/
}


#languages .english-details {
    margin-left: 27px;
    font-size: 13px;
}


#experience .company-logo-col {
    padding: 0px 25px;
}
#experience .company-logo {
    width: 50px;
    height: 50px;
    margin: 0 auto;
}
#experience .company-logo  img{
    margin-top: 25%;
}
#experience .highlighted-skill {
    background-color: #2979ff !important; /*blue accent-4*/
}
#experience .skill {
    background-color: #bbdefb !important; /*blue lighten-4*/
}


#formation .logo-upc {
    max-width: 280px;
}


#footer .section-link {
    color: #eeeeee; /*grey lighten-3*/
}
#footer .section-link:hover {
    color: #82b1ff; /*blue accent-1*/
}
#footer .contact-link:hover {
    background-color: #2962ff; /*blue accent-4*/
}


/* Media queries */
@media only screen and (max-width: 600px) {
    #experience td,
    #formation td {
        display: block;
        width: 100%;
    }

    .card-panel .card-panel-content {
        padding: 20px 0px;
    }
}

@media only screen and (max-width: 400px) {
    #formation .logo-upc {
         max-width: 100%;
    }
}



